@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/fonts/roboto-condensed-v19-latin-regular.woff2') format('woff2'), url('/fonts/roboto-condensed-v19-latin-regular.woff') format('woff');
}

:root {
    --typography-font-weight-regular: 400;
    --typography-roboto-font-family: 'Roboto', sans-serif;
    --typography-font-size: 1rem;
    --color-white: #fff;
    --color-dark-100: rgb(39, 39, 39);
    --color-dark-80: rgb(64, 64, 64);
    --color-dark-60: rgb(125, 125, 125);
}

html,
body {
    height: 100%;
    margin: 0;
    font: var(--typography-font-weight-regular) var(--typography-font-size) var(--typography-roboto-font-family);
    color: var(--color-black-100);
}
